<!DOCTYPE html>
<html>
  <head>
    <title>ProjectManagerCm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <nav class = "topnav">
      <%= link_to "Home", "/"%>
      <%= link_to "Finished Projects", "/projects"%>
      <%= link_to "Apply for Quote", "/apply" %>
      <%= link_to "Log Out", "/logout" %>
      <%= link_to "Register", "/register"%>
      <%= link_to "Log In", "/login" %>
    </nav>
    <%= yield %>
  </body>
</html>
